.review-component {
  font-size: 1.2rem;

  .selections-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .selections {
      display: flex;
      justify-content: flex-start;

      .select-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 6.2rem;
        height: 7.8rem;
        margin-right: 1rem;
        border-radius: 5px;
        border: 2px solid #2cc6d0;

        font-size: 1rem;
        color: #2cc6d0;

        p {
          margin-top: -1px;
        }
        svg {
          margin-bottom: 10px;
          padding-top: 1rem;
          fill: #2cc6d0;
        }
      }

      .selected {
        border: 2px solid white;
        color: white;

        background-color: #2cc6d0;
        fill: white;

        svg path {
          fill: white !important;
        }
      }
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .elogiar-comment-box {
      outline: none;
      width: 87%;
      height: 9rem;
      border: 2px solid #cccccc;
      border-radius: 5px;
      padding: 1.2rem 2rem;
      resize: none;
      font-size: 1rem;
      color: #cccccc;
    }
  }
}
